  @font-face {
    font-family: future-earth;
    src: url(future-earth.ttf);
    font-style: normal;
  }

  body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: future-earth;
  }
  
  #pontos{
    position:absolute;
    border: 5px whitesmoke solid;
    font-size:150%;
    font:oblique;
    color: whitesmoke;
    text-align:center;
    display:contents;
  }

  #p{
    top:50%;
    left:50%;
  }

  #fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(fundo.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: repeat-y;
    animation: moveBackground 10s linear infinite;
  }
  
  @keyframes moveBackground{
    0%{
      background-position: 0 0;
    }
    100%{
      background-position: 0 -2000px;
    }
  }
  
  #nave{
    position: absolute;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 180px;
    background-image: url(nave.png);
    background-size: contain;
    background-color: transparent;
  }
  
  #projeteis{
    position: absolute;
  }
  
  .projetil{
    position: absolute;
    width: 10px;
    height: 60px;
    background-image: url(tiro.png);
    background-size: cover;
    background-position: center;
  }
  
  @keyframes moveProjeteis{
    from {
      top: 100%;
    }
    to {
      top: -100px;
    }
  }

  .inimigo{
    position: absolute;
    width: 60px;
    height: 80px;
    background-image: url(inimigo.png);
    background-size:contain;
    background-color: transparent;
  }
  
  @keyframes moveInimigos{
    from {
      transform: translateY(-80px);
    }
    to {
      transform: translateY(100%);
    }
  }
  
  .inimigo{
    animation: moveInimigos linear infinite; /* Aumente a duração para tornar a animação mais lenta */
  }

  .explosao{
    position: absolute;
    width: 100px;
    height: 120px;
    background-image: url(explosao.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeOut 3s forwards;
  }
  
  @keyframes fadeOut{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

  #gameover{
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  #Pontuacao{
    position: absolute;
    top: 37%;
    left: 25%;
    color: green;
    font-size: 300%;
  }